web/lib/vendor/!.gitignore

_ignored

.DS_Store
*~

upgrade/wordpress/*
upgrade/*.zip

patch

web/lib/vendor/*
snapshots/

!runner/tmp
runner/tmp/*
!runner/tmp/.gitkeep

runner/node_modules

web/assets/frontend/modules/modules.scss
web/assets/frontend/modules/modules.css

!web/assets/libs
web/assets/libs/*
!web/assets/libs/.gitkeep

web/public/cache/*

!web/public/cache/assets
web/public/cache/assets/*
!web/public/cache/assets/.gitkeep

!web/public/cache/images
web/public/cache/images/*
!web/public/cache/images/.gitkeep

!web/public/cache/libs
web/public/cache/libs/*
!web/public/cache/libs/.gitkeep

!web/public/cache/null
!web/public/cache/null/index.html

!web/public/cache/params/
web/public/cache/params/*
!web/public/cache/params/.gitkeep

!web/public/cache/tmp
web/public/cache/tmp/*
!web/public/cache/tmp/.gitkeep

!web/public/cache/views
web/public/cache/views/*
!web/public/cache/views/.gitkeep

web/uploads/*

!web/uploads/tmp
web/uploads/tmp/*
!web/uploads/tmp/.gitkeep

!web/uploads/images/
web/uploads/images/*
!web/uploads/images/.gitkeep

!web/uploads/files
web/uploads/files/*
!web/uploads/files/.gitkeep

database/database.sql
database/database_wp_backup.sql

firebase/functions/node_modules

tests/sitespeed.io/*