main.templates {

  .page-title {
    font-size:2rem !important;
  }

  thead {
    background:$xlight;
    td {
      padding:$sm $xs;
    }
  }

  td {
    padding:$xs2;
    font-size:1rem;
  }

  tr {
    transition:all .3s ease-in-out;
    &:not(.spacer) {
      &:hover {
        background:#f5f5f5;
      }
    }
  }

  .spacer {
    td {
      padding:0 !important;
    }
  }

}
