
.valign-mid {
    position:absolute !important; top:50% !important; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

.valign-mid-relative {
    position:relative; top:50% !important; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

.halign-mid {
    position:absolute !important; left:50% !important; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

.halign-mid-relative {
    position:relative; left:50% !important; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

.align-mid {
    position:absolute !important; top:50% !important; left:50% !important; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%);
}

.align-mid-relative {
    position:relative; top:50% !important; left:50% !important; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%);
}