.predictive{

  position: relative;

  .results{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 20;
    display: none;

    nav{
      position: relative;
      overflow: auto;
    }

    &.active{
      display: block;
    }

    li{

      &.result {

        cursor: pointer;

      }

    }

  }

}
